<br>
<div>
  <h3 class="title titulo">Igual te interesa estos puntos de interes</h3>
</div>
<div class="col-md-2 marbusca">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title"/>
    <div class="input-group-append">
      <button class="btn  btn-primary" type="button" (click)="searchHotel() ">Search</button>
    </div>
  </div>
</div>
<div *ngFor="let art of articulos" class="row justify-content-md-center infoH">
  <div style="padding: 0%;">
    <img src="{{art.img_hotel}}">
  </div>
  <div class="infoT">
    <div class="titulo">{{art.nombre_hotel}}</div><br>
    <div class="precio"><span>Precio dia: {{art.precio_reserva}}</span><span>$</span></div>
    <div class="puntos">Puntos Hotel:
      <span>{{art.puntos_hoteles}}</span></div><br>
    <div class="button btn-deco btn btn-primary btn-xs" >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
      <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
    </svg></div>
  </div>
</div>




