<br>
<h2 style="text-align: center;">Añadir Hotel</h2>
<div class="col-md-12">
  <div class="color">
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">Nombre Hotel</label>
            <input type="text" class="form-control" name="nombre_hotel" [(ngModel)]="form.nombre_hotel" required minlength="3" maxlength="20" #nombre_hotel="ngModel" />
            <div class="alert-danger" *ngIf="nombre_hotel.errors && f.submitted">
                <div *ngIf="nombre_hotel.errors.required">Nombre Hotel is required</div>
                <div *ngIf="nombre_hotel.errors.minlength">
                  nombre_hotel must be at least 3 characters
                </div>
                <div *ngIf="nombre_hotel.errors.maxlength">
                  nombre_hotel must be at most 20 characters
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Precio Reserva">Precio Reserva</label>
            <input type="text" class="form-control" name="Precio Reserva" [(ngModel)]="form.precio_reserva" required precio_reserva #precio_reserva="ngModel" />
            <div class="alert-danger" *ngIf="precio_reserva.errors && f.submitted">
                <div *ngIf="precio_reserva.errors.required">Precio Reserva is required</div>
                <div *ngIf="precio_reserva.errors.email">
                  Precio Reserva must be a valid email address
                </div>
            </div>
        </div>
        <div class="form-group">
          <label for="puntos_hoteles">Puntos Hoteles</label>
          <input type="text" class="form-control" name="puntos_hoteles" [(ngModel)]="form.puntos_hoteles" required puntos_hoteles #puntos_hoteles="ngModel" />
          <div class="alert-danger" *ngIf="puntos_hoteles.errors && f.submitted">
              <div *ngIf="puntos_hoteles.errors.required">Puntos Hoteles is required</div>
              <div *ngIf="puntos_hoteles.errors.email">

              </div>
          </div>
      </div>

      <div class="form-group">
        <label for="img_hotel">Imagen Hotel</label>
        <input type="text" class="form-control" name="img_hotel" [(ngModel)]="form.img_hotel" required img_hotel #img_hotel="ngModel" />
        <div class="alert-danger" *ngIf="img_hotel.errors && f.submitted">
            <div *ngIf="img_hotel.errors.required">Imagen Hotel is required</div>
            <div *ngIf="img_hotel.errors.email">

            </div>
        </div>
      <br>
    </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">Añadir Hotel</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Añadir Hotel failed!<br />{{ errorMessage }}
        </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
        Se ha añadido el hotel
    </div>
    <br>
    <h2 style="text-align: center;">Eliminar Hoteles</h2>
    <br>
    <p *ngFor="let art of articulos" class="row justify-content-md-center infoH">
      {{art.nombre_hotel}}<button class="btn btn-danger tamaño_boton" (click)="delete()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg></button>
    </p>
</div>
